.nav-item-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    border-bottom: 2px solid rgb(133, 133, 133);
    box-shadow: 1px -5px 10px 2px;
}

.nav-list {
    margin: 0;
    padding: 0
}

.nav-list-item {
    list-style: none;
    display: inline;
    margin-right: 1em;
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    color: rgb(18, 136, 221);
}

.deactive-mobile {
    display: none;
}

@media (max-width: 600px) {
    .menu-icon {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: none;
    }

    @keyframes lower {
        from {height: 0vh;}
        to {height: 33vh;}
    }

    @keyframes opacity {
        from {opacity: 0;}
        to {opacity: 1;}
    }


    .mobile-nav-item-container {
        position: absolute;
        background-color: rgb(255, 255, 255, .9);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        height: 33vh;
        z-index: 5;
        animation-name: lower;
        animation-duration: .5s;
    }

    .mobile-nav-list {
        text-align: center;
        padding: 0;
    }

    .mobile-nav-list-item {
        list-style: none;
        margin: 1em;
        animation-name: opacity;
        animation-duration: 2s;
    }
}

@media(min-width: 600px) {
    @keyframes fade {
        from{opacity: 1;}
        to{opacity: 0;}
    }

    .mobile-nav-item-container {
        display: none;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    .menu-icon {
        display: none;
    }
}